# Servidor de Produção
gunicorn==21.2.0

# Base do Django
django>=4.2,<5.0
dj-database-url==2.1.0

# Banco de Dados
PyMySQL==1.1.0
cryptography==41.0.7
psycopg2-binary==2.9.9

# API e Documentação
djangorestframework
django-cors-headers
drf-spectacular
drf-spectacular-sidecar

# Variáveis de Ambiente e Utilitários
python-dotenv==1.0.1
pillow
requests
firebase-admin==6.5.0

whitenoise==6.6.0
