# Servidor de Produção
gunicorn==23.0.0

# Base do Django
django>=5.2.17,<5.3
django-jazzmin==3.0.4
dj-database-url==2.1.0

# Banco de Dados
PyMySQL==1.1.2
cryptography>=50.0.0,<51.0

# API e Documentação
djangorestframework
django-filter
django-cors-headers
drf-spectacular
drf-spectacular-sidecar

# Variáveis de Ambiente e Utilitários
python-dotenv==1.2.2
pillow
requests
firebase-admin==6.5.0
cloudinary
django-redis
celery
python-json-logger
imageio-ffmpeg==0.6.0

whitenoise==6.6.0
