body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #dbd9d9
}

.card {
    background: #4169E1;
    background: linear-gradient(90deg, rgba(65, 105, 225, 1) 0%, rgba(127, 0, 255, 1) 100%);
    justify-content: center;
    width: 400px;
    height: 500px;
    align-items: center;
    border: 2px solid #ffffff;
    border-radius: 30px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.card-title {
    text-align: center;
    color: #ffffff;
    font-size: 38.9px;
    font-family: open, sans-serif;
}

.login-label {
    display: block;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    font-family: open, sans-serif;
    margin-left: 50px;
    margin-top: 22px;
}

.login-input {
    width: 300px;
    height: 38px;
    margin-top: 22px;
    margin-left: 50px;
    border-radius: 12px;
    border: solid 2px #ffffff;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.login-input:focus {
    outline: none;
    border: 2px solid #7f00ff;
    box-shadow: 0 0 8px rgba(243, 244, 245, 0.5);
    transition: all 0.3s ease
}

.login-input.input-error {
    border: 2px solid #ff4d4d !important;
    box-shadow: 0 0 10px rgba(255, 77, 77, 0.4);
}

.login-input.input-success {
    border: 2px solid #2ecc71 !important;
    box-shadow: 0 0 10px rgba(46, 204, 113, 0.4);
}

.input-group {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.tooltip-error {
    position: absolute;
    left: 105%; 
    top: 50%;
    transform: translateY(15%);
    white-space: normal;
    word-wrap: break-word;
    width: 200px;
    text-align: left;
    background-color: #e74c3c;
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 16px;
    z-index: 100;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.15);
}

.tooltip-error::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #e74c3c transparent transparent;
}

.otherPage {
    margin-top: 32px;
    margin-bottom: 30px;
}

.remember {
    display: inline;
    color: #ffffff;
    font-size: 15px;
    font-family: open, sans-serif;
    margin-left: 50px;
}

.register {
    display: inline;
    color: #ffffff;
    font-size: 15px;
    font-family: open, sans-serif;
    margin-left: 50px;
}

.login-btn {
    align-items: center;
    width: 300px;
    height: 48px;
    margin-left: 50px;
    border-radius: 12px;
    border: solid 2px #ffffff;
    background: #4169E1;
    background: linear-gradient(90deg, rgba(65, 105, 225, 1) 0%, rgba(127, 0, 255, 1) 100%);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.login-btn:hover {
    background: #7f00ff;
    background: linear-gradient(90deg, rgba(127, 0, 255, 1) 0%, rgba(65, 105, 225, 1) 100%);
    transition: all 0.3s ease
}

.login-btn-span {
    color: #ffffff;
    font-weight: bold;
    font-size: 24px;
    font-family: open, sans-serif;
}